.section{
  padding-block: var(--section-padding-y);

  &--hidden-x{
    overflow-x:hidden ;
  }

  &__header{
    display: flex;
    align-items: center;
    column-gap: 40px;

    &:not(:last-child){
      margin-bottom: 80px;
    }
  }
  &__description{
    max-width: 580px;
  }
}
