.team-card{
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  height: 100%;

  &__header{
    display: flex;
  }

  &__image{
    &:not(:last-child){
      margin-right: 20px;
    }
  }

  &__info{
    align-self: end;
    &:not(:last-child){
      margin-right: 10px;
    }
  }

  &__link{
    @include flex-center;
    @include square(34px);
    margin-left: auto;
    align-self: start;
    color: var(--color-accent);
    background-color: var(--color-dark);
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__name{
    &:not(:last-child){
      margin-bottom: 3px;
    }
  }
}