body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--color-accent);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);    /* цвет бегунка */
  //border-radius: 20px;       /* округлось бегунка */
  //border: 3px solid orange;  /* отступ вокруг бегунка */
}